html, body {
    margin: 0;
    padding: 0;
    
}


p {
    margin: 0px;
}

.NavBar {
    font-family: raleway;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 70px;
    border: solid black 1px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.Links a {
    margin-left: 50px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.Links a:hover {
    color: rgb(56, 159, 228);
    transition: border-bottom .2s, border-left .4s, border-top .6s, border-right .9s;
    border-right: double whitesmoke 3px;
    border-left: double whitesmoke 3px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
   
}

.Links {
    margin-left: 65%;
    margin-top: -15px;
}


.Logo {
    margin-top: 15px;
    margin-left: 55px;
    width: 200px;
    height: 30px;
    padding-left: 40px;
    background: url(logo.png);
    background-repeat: no-repeat;
    
}

.Main {
    font-family: raleway;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;

    background-image: url('./background2.jpg');
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-size: cover; 
    background-repeat:no-repeat;

    /* overflow-x: hidden;
    overflow-y: auto;
    
    z-index: -1;  */

    position: relative;
    display: block;
    transform-origin: bottom center;     
    transform: 
        translate3d(0, calc(var(--pct) * 35%), 0) down 
        scale(calc(var(--pct)/5 + 1))  
}





.Main h1 {
    padding-top: 27%;
}



.logSign a {
    text-shadow: none;
    text-decoration: none;
    color: black;
}

.container {
    display: grid;
    background-color: rgba(0, 0, 0, 0)
    
}

.aboutTitle {
    text-align: center;
    margin-top: 12%;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4% 4% 12% 4%;
    grid-gap: 4%;
}

.firstAbout {
    border: solid 3px black;   
} 

.firstAbout p {
    margin: 3% 3% 3% 3%;
}

.secondAbout {
    border: solid 3px black;
}

.secondAbout p {
    margin: 3% 3% 3% 3%;
}

.contactTitle {
    
    text-align: center;
}

.contactContainer {
    padding-top: 10%;
    background-image: url('./background2.jpg');
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-size: cover; 
    background-repeat:no-repeat;
}

.contact {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    

}

.email, .address, .phone {
    
    padding: 1% 2% 4% 2%;
    border: solid 3px black;
    background-color: rgba(255, 255, 255, 0.568);
    width: 500px;
  
    
}

